html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell,
    'Helvetica Neue', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  /*
   * CSS image reference example.
   */
  background-image: url('../images/skulls.png');
}
h1 {
  font-size: 60px;
  font-weight: 700;
}

img {
  display: block;
  margin-right: 50px;

  min-width: 60%;
  height: auto;
}

.search-input {
  min-width: 500px;
  padding: 10px;
  font-family: inherit;
  font-size: 20px;
  border: 1px solid rgba(43, 42, 42, 0.3);
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.country-container {
  display: flex;
  margin-top: 40px;

  /* outline: 2px solid tomato; */
}

.country-container > ul {
  font-size: xx-large;
  text-align: left;
  font-weight: 400;
}

.country-container__list {
  font-weight: 700;
  text-align: left;
}